@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1B2D1C;
}

::-webkit-scrollbar-thumb {
  background: #F5C518;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #F9D857;
}
